/* CSS-Datei form.css */

/*settings for input forms */

input {
	background-color: gainsboro;
	border: 1px solid #333
	border-color: gray;
    width: 100%;
}

textarea {
	margin: 0 0 0.5em .2em;
	background-color: gainsboro;
	border: 1px solid #333
	border-color: gray;
    width: 100%;
}


label {
    width: 10em;	
}

form {
	width: 27em;
}

button {
	margin-top: 0.5em;
    width: 30%;
}

.lblradio {
	width: auto;
}

.inpradio {
	width: auto;
	margin-right: .5em;
}